$blue: #2196f3;
$red: firebrick;

.btn{
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px,
}

.btnInfo{
    border-color: $blue;
    color: $blue;

    &:hover{
        background-color: $blue;
        color: white;
    }
}

.btnDanger{
    border-color: $red;
    color: $red;

    &:hover{
        background-color: $red;
        color: white;
    }
}